/fdtd_1d/saved_data/qpm_harmonic/P_at_end_30000_1lambda/
/fdtd_1d/saved_data/qpm_harmonic_length/500obs_10fs_16000pt_05courant/
/fdtd_1d/saved_data/qpm_harmonic_length/1000obs_10fs_16000pt_05courant/
/fdtd_1d/saved_data/qpm_harmonic_length/2000obs_10fs_16000pt_05courant_12lambda/
/fdtd_1d/saved_data/qpm_harmonic_length/2000obs_10fs_16000pt_05courant_6lambda/
/fdtd_1d/saved_data/qpm_harmonic_length/1000obs_10fs_32000pt_05courant_6lambda
/fdtd_1d/saved_data/qpm_harmonic_length/faster_media/
/fdtd_1d/saved_data/soliton/firsttry/
/fdtd_1d/saved_data/soliton/trying_to_read/
